*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input{
    border-radius: 5px;
    border: 2px solid #a9a9a9;
    text-align: center;
}

a{
    color: black;
}

.form-content{
    margin:5px 0;
    flex-direction: column;  
}