*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-size: 32px
}

input{
    margin: 5px 0;
    border-radius: 10px;
    border: 2px solid #a9a9a9;
    text-align: center;
}

a{
    color: black;
    font-style: italic;
    text-decoration: none;
}

a:hover{
    color:blueviolet;
}

form{
    margin: 10px 0;
}

.form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5px 0;
    font-size: 20px;
}

#problemas{
    font-size: 28px;
}